version: '3'
services:
  redis:
    image: redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "8080:80"